.navbar {
    background-color: #f53004;
}

#cabecalho .nav .nav-link.active{
    background-color: #fff;
    color: #f53004;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #fff;
}


.navbar-toggler {
    background-color: #f53004;
}

.container img {
    height: 50px; 
}

.container .row .col-md-5 img {
    height: 300px; 
}

#carousel {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.carousel-inner img {
    max-height: 500px;
}

.carousel-control-prev {
    margin: 30px;
}

.carousel-control-next {
    margin: 30px;
}

#sobre-o-restaurante {
    margin-top: 15px;
}

#imagens-consoles {
    width: 100%;
    height: auto;
}


.nav-jogos .nav-link.active {
    background-color: #f53004;
    color: #fff;
}

.nav-jogos .nav-link {
    color: #f53004;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

#fale-conosco,
#fale-conosco i {
    color: #f53004;
}

#fale-conosco button {
    background-color: #f53004;
    color: #fff;
}

@media screen and (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }

    #sobre-o-restaurante img {
        margin: auto;
    }

    #imagens-consoles {
        width: 100%;
        height: auto;
    }
}